
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kazan</title>
    <!-- <link rel="stylesheet" href="${pageContext.request.contextPath}/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="${pageContext.request.contextPath}/css/bootstrap.css"/>
    <link rel="stylesheet" href="${pageContext.request.contextPath}/css/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="${pageContext.request.contextPath}/css/main.css"/> -->
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/font-awesome.min.css"/>
  <link rel="stylesheet" href="css/main.css"/>

  <link rel="icon" href="img/icon.jpg">
    <link rel="js" href="js/main.js>">


</head>
<body>
  <nav role='navigation'>
    <p > <form action="" method="post" class="search">
    <input type="search" name="" placeholder="поиск" class="input" />
    <input type="submit" name="" value="" class="submit" />
    </form> </p>
    <a class="navbar-logo" href="index.html"><img src=img/icon.jpg height="70" width="60">
    </a>

    <ul>

      <li><a href="index.html">Главная</a></li>
      <li><a href="#">Места</a>
        <ul>
          <li><a href="">Кафе</a></li>
          <li><a href="">Выставки</a></li>
            <li><a href="">Кино</a></li>
              <li><a href="">Спортивные развлечения</a></li>
        </ul>
      </li>

      <li><a href="signUp.html">Регистрация</a></li>
  <li><a href="signUp.html">Поиск</a></li
      <li><a href="signIn.html">Войти</a></li>
    </ul>
  </nav>

<div id="headerwrap">
  <div class="conteiner">
      <div class= "row centered">
        <div class="col-lg-8 col-lg-offset-2">

          <h1> Книга</h1>
          <h2> — мост в мир знаний.</h2>

        </div>
      </div>
  </div>
</div>

<div class="container w">
    <div class="row centered">
      <br><br>
      <div class="col-lg-4">
        <i class="fa fa-heart"></i>
        <h4>Дизайн</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-laptop"></i>
        <h4>Компьютеры</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-lap"></i>
        <h4>Помощь</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
    </div>
    <br><br>
  </div>


  <div id="dg">
      <div class="container">
        <div class="row centered">
          <h4>Последние работы</h4>
          <br>
          <div class="col-lg-4">
            <div class="tilt">
              <a href="#"><img src="../img/p01.jpg" alt=""></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="tilt">
              <a href="#"><img src="../img/p02.jpg" alt=""></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="tilt">
              <a href="#"><img src="../img/p03.jpg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container wb">
      <div class="row centered">
        <br><br>
        <div class="col-lg-8 col-lg-offset-2">
          <h4>Мы создаем сайты</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          <p><br><br></p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-10 col-lg-offset-1">
          <img src="../img/munter.png" alt="" class="img-responsive">
        </div>
      </div>
    </div>
    <div id="lg">
      <div class="container">
        <div class="row centered">
          <h4>Партнеры</h4>
          <div class="col-lg-2 col-lg-offset-1">
            <img src="../img/c01.gif" alt="">
          </div>
          <div class="col-lg-2">
            <img src="../img/c02.gif" alt="">
          </div>
          <div class="col-lg-2">
            <img src="../img/c03.gif" alt="">
          </div>
          <div class="col-lg-2">
            <img src="../img/c04.gif" alt="">
          </div>
          <div class="col-lg-2">
            <img src="../img/c05.gif" alt="">
          </div>
        </div>
      </div>
    </div>
    <div id="r">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-2">
            <h4>Разарботка сайтов на профессиональном уровне</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>
      </div>
    </div>
    <div id="f">
      <div class="container">
        <div class="row centered">
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-vk"></i></a>
        </div>
      </div>
    </div>


</body>
</html>
